main {
  padding: 0 9rem 6rem 9rem;
}

.literature-recommendations__title {  
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.literature-recommendations__info {
  margin-bottom: 3rem;
  color: white;
  text-indent: 2em;
  text-align: justify;
}

.book {
  margin: 3rem 0 10rem 0;
  transform: translateX(400%);
  transition: transform 1s ease;
}

.book:nth-of-type(even) {
  transform: translateX(-400%);
}

.book.show {
  transform: translateX(0);
}

.literature-recommendations__subtitle {  
  color: white;
  font-size: 1em;
  text-align: center;
}

.literature-recommendations__book-name {
  margin: 3em 0 2em 0;
  color: white;
  font-size: 1em;
  text-align: center;
}

.literature-recommendations__book-image {
  max-width: 15%; 
  height: auto;
}

.leftimg {
  float: left; 
  margin: 0 3em 3em 0; 
}

.rightimg  {
  float: right; 
  margin: 0 0 3em 3em; 
}

.literature-recommendations__book-description {
  color: white;
  text-indent: 2em;
  text-align: justify;
}

article div:last-child {
  margin-bottom: 4rem;
}