/* BANNER */

#banner {
  background-attachment: fixed;
  background-color: #272833;
  background-image: url("../images/banner-image.jpg");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: 21;
}

#banner:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  width: 1%;
}

#banner .content {
  display: inline-block;
  margin-right: 1%;
  max-width: 95%;
  padding: 6em;
  position: relative;
  text-align: right;
  vertical-align: middle;
  z-index: 1;
}

#banner .content header {
  display: inline-block;
  vertical-align: middle;
}

#banner .content header h1 {
  font-size: 2.5em;
  margin: 0;
}

#banner .content header p {
  margin: 0.5em 0 0 0;
  top: 0;
}

body.is-touch #banner {
  background-attachment: scroll;
}

/* Image */

.main-photo {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 4px;  
  overflow: hidden;
}

#banner .content .main-photo {
  display: inline-block;
  margin-left: 3em;
  width: 25em;
  height: 25em;
  border-radius: 100%;
  vertical-align: middle;  
}

#banner .content .main-photo img {
  display: block;
  width: 100%;
  border-radius: 100%;  
}

/*Button*/

.main-page__cta-button {
  position: relative;
  display: inline-block;
  margin-top: 5rem;
  padding: 0.7em;  
  width: 12.5rem;
  height: 3.5rem;
  text-align: center;
  line-height: 1.3rem;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(90deg, #475055, #886a7b, #1a3b79, #aabbc4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
  cursor: pointer;
}

.main-page__cta-button:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.main-page__cta-button:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #475055, #886a7b, #1a3b79, #aabbc4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: .5s;
}

.main-page__cta-button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

.main-page__cta-button-caption {
  font-size: 0.8rem;
}

/* SECTION/ARTICLE */

header p {
  position: relative;
  margin: 0 0 1.5em 0;
  color: #ffffff;  
}

header h1 + p {
  margin-top: -1em;
  font-size: 1.25em;  
  line-height: 1.75em;
}

/*TRAININGS*/

#trainings {
  margin: 2em 0 2em 0;
}

.section-title {
  color: white;
  font-size: 0.5rem;  
  text-align: center;
  text-transform: uppercase;
}

.training-options {
  margin: auto;
  width: 80%;  
  text-align: center;
}

.training-option {
  position: relative;
  display: inline-block;
  padding: 16px;
  margin: 8px;
  width: 30%;
  height: 89vh;
  background: #5d5d5d;  
  vertical-align: middle;  
  text-align: center;  
  transition: all 0.3s ease;
}

.training-option:hover {
  transform: scale(1.1);
}

.training-option__name {
  line-height: normal;
}

.training-option__description {
  padding: 1em;
  margin: 0;
  color: white;
  text-align: center;  
  line-height: normal;  
}

.training-option__cta-button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}

/*MEAL PLAN/ONLINE-COACHING*/

#meal-plan,
#online-coaching,
#consultations {
  margin: 4em 5em 6em 5em;
}

.online-coaching__container {
  display: flex;
  flex-flow: row wrap;
}

.online-coaching__info {
  margin-right: 3em;
  flex: 1;
}

.meal-plan__description,
.online-coaching__description,
.online-coaching__packages,
.consultations__description {
  text-indent: 2em;
  text-align: justify;
}

.meal-plan__items,
.online-coaching__features {
  list-style-type: disc;
}

/*ONLINE-COACHING PACKAGES*/

.six-weeks-package,
.twelve-weeks-package, 
.twenty-four-weeks-package {
  display: inline-block;
  margin: 10px;
  padding: 20px 10px;
  width: calc(33% - 24px);  
  border: 1px solid black;
  background-color: black;
  text-align: center;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.six-weeks-package__side,
.twelve-weeks-package__side, 
.twenty-four-weeks-package__side {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;              
  transform: translate(-50%, -40%);
}

.six-weeks-package:hover,
.twelve-weeks-package:hover, 
.twenty-four-weeks-package:hover {
  transform: rotateY(180deg);
}

.six-weeks-package .six-weeks-package__side,
.twelve-weeks-package .twelve-weeks-package__side,
.twenty-four-weeks-package .twenty-four-weeks-package__side {
  backface-visibility: hidden;
}

.six-weeks-package .six-weeks-package__side-back,
.twelve-weeks-package .twelve-weeks-package__side-back,
.twenty-four-weeks-package .twenty-four-weeks-package__side-back {
  overflow: hidden;
  transform: rotateY(180deg);  
}

/*FORM*/

.contact-form {
  flex: 2;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;  
  padding: 0 1.8em 1.8em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 0.3em 0.4em rgba(0, 0, 0, .4);
}

.contact-form__title {
  box-sizing: border-box;
  margin: 0 -1.9em 1.8em;
  padding: 1em 1.8em;
  width: calc(100% + 3.8em);
  background-color:#5d5d5d;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;  
  text-transform: uppercase;
  letter-spacing: .06em;  
}

.contact-form__description {
  display: none;
  font-size: 1rem;
  text-align: center;
}

.contact-form__input-wrapper {
  margin-bottom: 1em;
}

.contact-form__input {
  box-sizing: border-box;
  padding: 0 0.95em;
  width: 100%;
  height: 3.125em;
  border: 1px solid #e2e2e2;
  border-radius: 0.25em;
  background: #fbfbfb;
  font-size: 1rem;
}

.contact-form__text {
  height: 5em;
}

textarea {
  resize: none;
}

.contact-form__error {
  font-size: .875rem;
}

.contact-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125em 0 0 0;
  margin: 1.8em auto 0;  
  width: 100%;
  max-width: 50%;
  height: 3.125em;
  border: none;
  -webkit-appearance: none;
  border-radius: 0.3em;
  outline: none;
  background: #5d5d5d;  
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .06em;
  transition: .3s;
  cursor: pointer;
}

.contact-form__button:hover {
  background: #1c1d26;
  transition: .3s;
}

@media (max-width: 480px) {
  .form-wrapper {
      padding: 15px;
  }
  .contact-form {
      padding: 0 15px 15px;
  }
  .contact-form__title {
      margin: 0 -15px 30px;
      padding: 15px 30px;
      width: calc(100% + 30px);
      font-size: 18px;
  }
}

/*CONSULTATIONS*/

.consultations__cta-button {
  position: absolute;
  margin-top: 2rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}