h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-weight: 300;
  line-height: 1em;
  margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  border: 0;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
}

ul {
	list-style: none;
}

/* Banner */

#banner {
  background-attachment: fixed;
  background-color: #272833;
  background-image: url("../images/banner-image.jpg");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: 21;
}

#banner:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  width: 1%;
}

#banner .content {
  display: inline-block;
  margin-right: 1%;
  max-width: 95%;
  padding: 6em;
  position: relative;
  text-align: right;
  vertical-align: middle;
  z-index: 1;
}

#banner .content header {
  display: inline-block;
  vertical-align: middle;
}

#banner .content header h2 {
  font-size: 2.5em;
  margin: 0;
}

#banner .content header p {
  margin: 0.5em 0 0 0;
  top: 0;
}

#banner .content .image {
  border-radius: 100%;
  display: inline-block;
  height: 25em;
  margin-left: 3em;
  vertical-align: middle;
  width: 25em;
}

#banner .content .image img {
  border-radius: 100%;
  display: block;
  width: 100%;
}

body.is-touch #banner {
  background-attachment: scroll;
}

/* Section/Article */

header p {
  color: #ffffff;
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.75em;
}

/* Image */

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/*TRAININGS*/

#trainings {
  margin: 2em 0 2em 0;
}

.section-title {
  font-weight: 0.5rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.training-options {
  width: 80%;
  margin: auto;
  text-align: center;
}

.training-option {
  background: #5d5d5d;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  height: 90vh;
  vertical-align: middle;
  position: relative;
}

.training-option__name {
  line-height: normal;
}

.training-option__description {
  margin: 0;
  padding: 1em;
  text-align:center;
  line-height: normal;
  color: white;
}

.training-option__button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}

/*MEAL PLAN/ONLINE-COACHING*/

#meal-plan,
#online-coaching,
#consultations {
  margin: 2em 5em 2em 5em;
}

.online-coaching__container {
  display: flex;
  flex-flow: row wrap;
}

.online-coaching__info {
  margin-right: 3em;
  flex: 2;
}

.meal-plan__description,
.online-coaching__description,
.consultations__description {
  text-indent: 2em;
  text-align: justify;
}

.meal-plan__items,
.online-coaching__features {
  list-style-type: disc;
}

/*.online-coaching__packages {
  width: 50%;
  margin: 0 1em;
  padding: 0;
  text-align: center;
}

.six-weeks-package,
.twelve-weeks-package, 
.twenty-four-weeks-package {
  margin: 10px;
  padding: 20px 10px;
  width: calc(33% - 24px);
  display: inline-block;
  background-color: black;
  border: 1px solid black;
  text-align: center;
}*/

/*FORM*/

.contact-form {
  flex: 1;
}

.form-wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(251, 251, 251, 0.2);
  padding: 30px;
  border-radius: 5px;
}

.contact-form {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 0 30px 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
  border-radius: 2px;
}

.contact-form__title {
  box-sizing: border-box;
  margin: 0 -30px 30px;
  padding: 15px 30px;
  width: calc(100% + 60px);
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  background-color:#5d5d5d;
  color: #fff;
}

.contact-form__description {
  display: none;
  text-align: center;
  font-size: 18px;
}

.contact-form__input-wrapper {
  margin-bottom: 20px;
}

.contact-form__input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  background: #fbfbfb;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form__error {
  font-size: .875rem;
}

.contact-form__button {
  background: #5d5d5d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 240px;
  margin: 30px auto 0;
  border-radius: 5px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  transition: .3s;
  padding: 2px 0 0 0;
}

.contact-form__button:hover {
  transition: .3s;
  background: #1c1d26;
}

@media (max-width: 480px) {
  .form-wrapper {
      padding: 15px;
  }
  .contact-form {
      padding: 0 15px 15px;
  }
  .contact-form__title {
      margin: 0 -15px 30px;
      padding: 15px 30px;
      width: calc(100% + 30px);
      font-size: 18px;
  }
}