main {
  padding: 5rem 9rem;
}

.testimonials__title {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.testimonials__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-between;
  padding: 1rem 0 5rem 0;
}

.testimonials__item {
  flex: 1 1;
}

video {
  padding: 1rem 2rem 0 2rem;
  width: 350px;
  height: auto;
}

.testimonials__client-name {
  font-size: 1rem;
  text-align: center;
}

.testimonials__client-message {
  font-size: 1rem;
  text-align: center;
}

.testimonials__cta-button {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}